name: CI

on:
  push:
    branches: [main]
  pull_request:
  merge_group:
    branches: ["**"]

jobs:
  tests:
    name: Run tests
    strategy:
      matrix:
        os: [Ubuntu]
        go-version: ["1.22.x"]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install dependencies
        run: |
          go get ./...
          go install github.com/jstemmer/go-junit-report@latest
      - name: Build
        run: go build -v ./...
      - name: Run Tests
        run: go test -v ./... | go-junit-report -set-exit-code > test-report.xml
      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "test-report.xml"
        if: always()
